* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass';
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: currentColor;
    font: 1rem 'Overpass';
}

.fwh {
    width: 100%;
    height: 100vh;
}